<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211339335958-2kfbge9qtpnduocqjrmb43auo4mp7brl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211339335958-2kfbge9qtpnduocqjrmb43auo4mp7brl</string>
	<key>API_KEY</key>
	<string>AIzaSyCa7796BuCNStpZOU6z5LKwBRp4MmX17ns</string>
	<key>GCM_SENDER_ID</key>
	<string>211339335958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.dispatcher</string>
	<key>PROJECT_ID</key>
	<string>dispatcher-prod-455e1</string>
	<key>STORAGE_BUCKET</key>
	<string>dispatcher-prod-455e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211339335958:ios:5ecb09f7579c3389ec1837</string>
</dict>
</plist>